/* 
Daniel Reyes
VFW-1210
Project 2
*/

html{
	background-color: #bcaf95;
}

h1{
	margin: 10px 20px;
	border: solid #000000;
	padding: 10px;
	background-color: #E1DFD3;
	width: 30%;
	font-style: oblique;
	font-family: sans-serif;
	color: maroon;
		
}
h2{
	margin: 10px 20px;
	font-style: oblique;
	font-family: sans-serif;
	color: #4D4B39;
}

nav{
	margin-left: 57.0em;	
}

legend{
	margin: 10px 20px;
	font-style: italic;
	font-style: oblique;
	font-size: large;
	font-family: sans-serif;
	color: maroon;			
}

label{
	display: block;	
}
li{
	font-style: oblique;
	font-family: sans-serif;
	color: #E1DFD3;
	line-height: 23px;
}
aside{
	font-style: oblique;
	font-family: sans-serif;
	color: maroon;
}

fieldset{
	margin: 10px 20px;
	border: solid #000;
	background-color: #E1DFD3;
}

output{
	position: absolute;
	background-image: linear-gradient(top, #444444, #999999);
	width: 40px;
	height: 30px;
	text-align: center;
	color: white;
	border-radius: 10px;
	display: inline-block;
	font: bold 15px/30px Georgia;
	bottom: 175%;
	left: 0;
}
output:after{
	content: "";
	position: absolute;
}
.questions{
	margin: 20px;
	padding: 30px; 
	border: solid #000; 
	background-color: #4D4B39;	
}
